@model IEnumerable<sicse.Models.Equipos>

@{
    ViewBag.Title = "Escaleras";
    Layout = "~/Views/plantilla/plantillaCoordinador.cshtml";
}

<h2>Lista de escaleras</h2>
<hr />
<br />
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Código
            </th>

            <th>
                Especificación
            </th>
            <th>
                Modelo
            </th>

            <th>
                Nombre del proyecto
            </th>

            <th>
                Código del proyecto
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Escaleras.codigo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.especificacion)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Proyecto1.nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Proyecto1.codigo)
                </td>
            </tr>
        }

    </table>
</div>
